@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
button, input{
    background: none;
    border: none;
    outline: none;
}
.section-1{
    width: 100%;
    height: 130vh;
    height: 1572px;
    background-size: cover;
    background-position:  center;
    background-image: url(../img/yjjytnyten.png);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
    margin: 0 auto; 
}
.logo a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em; 
    text-transform: capitalize;
    color: #FFFFFF;
}
.nav a{
    font-family: 'Open Sans';
    font-style: normal;
    margin: 0 50px 0 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.nav{
    width: 348px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 14px;
}
.content{
    width: 950px;
    margin: 0 auto;
    margin-top: 205px;
}
.top_cont{
    display: flex;
    align-items: center;
}
.line{
    width: 72px;
    height: 2px;
    background: #FFC178;
}
.top_cont p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 32px;
}
.content h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.content h2 span{
    font-weight: 400;
    font-size: 88px;
    line-height: 100px;
}
.scroll-text{
    width: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 829px;
}
.scroll-text a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.section-2{ 
    width: 80%;
    height: 3900px;
    margin: 0 auto;
}
.content2{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
    width: 1463px;
    height: 3901px;
    left: 215px;
}
.child1{
    display: flex;
    justify-content: space-between;
    width: 1462px;
    height: 721px;
    left: 0.5px;
    margin-bottom: 250px;
}
.child_text{
    display: flex;
    flex-direction: column;
    width: 632px;
    height: 552px;
    margin-top: 85px;
    margin-left: 254.5px; 
}
.top_text{
    width: 402.5px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.top_text p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    position: sticky;
    text-transform: uppercase;
    color: #FBD784;
}
.line2{
    width: 72px;
    height: 2px;
    background: #FFC178;
}
.main_content{
    width: 555px;
    height: 261px;
    margin-bottom: 27px;
}
.main_content h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
}
.information{
    width: 632px;
    height: 160px;
    margin-bottom: 27px;
}
.information p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.read_more{
    width: 126.5px;
    height: 25px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.read_more a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 8.5px;
}
.read_more img{
    transform: rotate(-90deg);
}
.child2{
    display: flex;
    justify-content: center;
    width: 1461px;
    height: 985px;
    background-image: url(../img/page\ 3.png);
    margin-bottom: 227px;
}
.half_of_fame{
    width: 1461px;
    height: 440px;
    margin-top: 545px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
}
.content3{
    width: 1163px;
    height: 428px;
    margin-left: 150px;
}
.top_text2{ 
    width: 296px;
    height: 25px;
    margin-left: 434px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24.11px;
}
.top_text2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.line3{
    width: 72px;
    height: 2px;
    left: 434px;
    top: 11.89px;
    background: #FBD784;
}
.line4{
    width: 72px;
    height: 2px;
    left: 434px;
    top: 11.89px;
    background: #FBD784;
}
.main_text2{
    width: 705px;
    height: 174px;
    margin-left: 229px;
    margin-bottom: 27px;
}
.main_text2 h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}
.information2{
    width: 934px;
    height: 96px;
    margin-left: 115px;
    margin-bottom: 39px;
}
.information2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.read_more2{
    width: 127px;
    height: 25px;
    margin-left: 518px;
    display: flex;
    justify-content: center;
}
.read_more2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 9px;
}
.read_more2 img{
    transform: rotate(-90deg);
}
.child3{
    width: 1463px;
    height: 720px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.content4{
    width: 632px;
    height: 488px;
    margin-left: 42.51px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 115px;
}
.line5{
    width: 72px;
    height: 2px;
    left: 0px;
    top: 11px;
    background: #FBD784;
}
.top_text3{
    width: 400px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.top_text3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.main_text3{
    width: 555px;
    height: 261px;
}
.main_text3 h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.information3{
    width: 630px;
    height: 96px;
    margin-bottom: 27px;
}
.information3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.read_more3{
    width: 127px;
    height: 25px;
    display: flex;
    justify-content: center;
}
.read_more3 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 9px;
}
.read_more3 img{
    transform: rotate(-90deg);
}
.footer_top a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    /* Weiß */

    color: #FFFFFF;

}
footer{
    width: 100%;
    margin: 0 auto; 
}
.footer_top{
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    border-bottom: solid 2px grey;
}
.buttons{
    width: 585px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons button:nth-child(1){
    width: 239px;
    height: 69px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.3px;

    color: #FFFFFF;

}
.buttons button:nth-child(2){
width: 239px;
height: 69px;
background: #FFA343;
border-radius: 8px;


font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 22px;

color: #000000;

}
.middle_input{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.left_middle h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.inp{
    width: 399px;
    height: 79px;
    border-bottom: solid 2px grey;
    display: flex;
    align-items: center;
}
.inp input{
    width: 94%;
    height: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.inp button{
    width: 69px;
    height: 100%;
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;

    font-size: 20px;
    font-weight: bold;
}
.navs{
    display: flex;
    justify-content: space-between;
    width: 720px;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* identical to box height, or 0% */

    letter-spacing: -0.231818px;

    color: #FFD1A0;

}
.menu a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    /* identical to box height, or 0% */

    letter-spacing: -0.204545px;

    color: #FFFFFF;
    margin-top: 15px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
}
.left{
    width: 343px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    width: 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;

}
.copyrights{
    width: 198px;
    height: 32px;
    margin: 0 auto;
}
.copyrights p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    margin-top: 168px;
    text-align: center;

    color: #FFFFFF;

    opacity: 0.5;
}













